/* pages/coupons/index.scss */
.coupons-page {
  background: #f5f5f5;
  min-height: 100vh;
}

.tab-bar {
  display: flex;
  background: #fff;
  border-bottom: 1rpx solid #e5e5e5;
}

.tab-item {
  flex: 1;
  text-align: center;
  padding: 24rpx;
  font-size: 28rpx;
  color: #666;
  position: relative;
  
  &.active {
    color: #8b4513;
    font-weight: 600;
    
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 60rpx;
      height: 4rpx;
      background: #8b4513;
    }
  }
}

.coupons-list {
  padding: 24rpx;
}

.loading, .empty {
  text-align: center;
  padding: 80rpx 0;
  color: #999;
  font-size: 28rpx;
}

.coupon-item {
  display: flex;
  align-items: center;
  background: #fff;
  padding: 32rpx 24rpx;
  margin-bottom: 16rpx;
  border-radius: 12rpx;
}

.coupon-amount {
  font-size: 48rpx;
  font-weight: 700;
  color: #ff4d4f;
  margin-right: 24rpx;
  min-width: 120rpx;
}

.coupon-info {
  flex: 1;
}

.coupon-name {
  display: block;
  font-size: 32rpx;
  color: #333;
  font-weight: 600;
  margin-bottom: 8rpx;
}

.coupon-condition {
  display: block;
  font-size: 24rpx;
  color: #666;
  margin-bottom: 4rpx;
}

.coupon-expiry {
  font-size: 24rpx;
  color: #999;
}

.use-btn {
  background: #8b4513;
  color: #fff;
  border: none;
  border-radius: 8rpx;
  padding: 16rpx 32rpx;
  font-size: 28rpx;
}